@tailwind utilities;
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

/* theme set */
@import "./theme.css";

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

/* custom utilities: https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */
@layer utilities {
  .res-box {
    @apply container py-8 px-4 md:px-6 lg:px-8 xl:px-0 mx-auto;
  }

  /* markdown styles */
  .md {
    @apply prose prose-sm lg:prose-lg dark:prose-invert prose-a:text-primary prose-a:hover:text-blue-500;
    @apply prose-table:border prose-th:border prose-th:text-center prose-th:leading-6 prose-th:p-2 prose-th:m-0 prose-td:border prose-td:text-center prose-td:leading-6 prose-td:p-2 prose-td:m-0;
  }
}
