/* ----------------- change markdown sub element style ------------------ */
.md hr {
  margin: 0;
  margin-bottom: 1em;
}

.md table {
  display: block;
  max-width: 100%;
  overflow: auto;
}

.md table th,
.md table td {
  white-space: nowrap;
}

.md ul,
.md ol,
.md p,
.md table {
  margin-top: 1em;
  margin-bottom: 0.75em;
}
